body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;  
    font-family: poppins, sans-serif; 
}

.graph-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 60%;
    height: 300px;
    margin-top: 20px;
}

.bar {
    width: 20%;
    background-color: #0099ff;
    margin: 0 10px;
    height: 0;
    animation: grow 2s ease forwards;
    position: relative;
}

@keyframes grow {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}

.bar::after {
    content: attr(data-label);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    color: #000;
    font-size: 14px;
}

h1 {
    text-align: center;
    width: 100%;
}
